.members .menu-area{background: #fff}
.members .menu-button{background: #19a}
body.members{background: #157 no-repeat; background-size: cover;}
body{position: relative; scroll-behavior: unset;}
.in-post-text{
	display: none;
	z-index: 50;
}
.add-post-form{
	display: none;
	width: 320px;
	z-index: 50;
	left: 20px;
	top: 80px;
}
.animation{transition: 0.5s;}
.text-area-y{
	overflow-y: scroll;
	transition: 0.5s!important;
}
.add-post-button{
	width: 123px;
	cursor: pointer;
	border-radius: 3px;
	top: 20px;
	left: 20px;
	text-align: center;
	height: 43px;
	background: #fff;
	position: fixed;
	z-index: 9999;
	margin: 0;
	padding: 11px;
}
.in-post-text .-title{
	padding-bottom: 6px;
	border-bottom: 3px solid #aaa;
}
.in-post-text .-inform{
	height: 450px;
	overflow-y: scroll;
}
.-new-post{
	height: auto;
	width: 100%;
}
.delete-post {
	border: 0;
}
.members .-tasks{
	display: flex;
}
.-new-post .buttons{
	display: block;
	margin: 0 auto;
	width: 230px;
}
.-new-post .h2{text-align: center}
.-new-post input[type=text],
.-new-post textarea{
	border: 0;
	border-bottom: 3px solid #1ae;
	padding: 10px;
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	background: rgba(170,170,170,0.1);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	transition: 0.4s;
}
.-new-post button{
	font-size: 16px;
	border-radius: 4px;
	border: none;
	margin: 0 10px 10px 10px;
	padding: 10px;
	height: auto;
	display: inline-block;
	width: 210px;
	color: #fff;
	background-color: #118a99;
}
input[type=file]{display: none}
.-new-post textarea:focus{height: 150px}
.-new-post .file > label{
	cursor: pointer;
	font-size: 18px;
	border-radius: 6px;
	padding: 10px;
	height: auto;
	padding-left: 15px;
	display: inline-block;
	width: 210px;
	margin:10px;
	color: #fff;
	background: url(/public/images/ic_photo_white.png) no-repeat;
	background-position: 165px;
	background-size: 28px;
	background-color: #118a99;
}
.product .img{
	background-size:cover!important;
	border-radius: 4px;
	margin: 0 auto;
	height: 300px;
	transition: 0.3s;
	width: 100%;
	cursor:pointer;
}